html, body {
    height: 100%;
}

body {
    background-color: rgb(255, 254, 242);
    color: rgb(7, 54, 66);
    font-family: 'Open Sans', sans-serif;
}

a {
    color: rgb(108, 113, 196);
    text-decoration: none;
}

a:hover {
    color: rgb(203, 75, 22);
    text-decoration: underline;
}

.main-wrapper {
    margin: 0 auto -4em;
    min-height: 100%;
    width: 720px;
}

.heading {
    font-family: 'Merriweather', serif;
    font-size: 72px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.body-text {
    font-size: 24px;
    font-weight: 400;
    padding-left: 40px;
    padding-right: 40px;
}

footer, .push {
    height: 4em;
    text-align: center;
}

@media (max-width: 720px) and (min-width: 500px) {
    .main-wrapper {
        width: 500px;
    }

    .heading {
        font-size: 48px;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .body-text {
        font-size: 24px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 499px) {
    .main-wrapper {
        width: auto;
    }

    .heading {
        font-size: 36px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .body-text {
        font-size: 24px;
        padding-left: 5px;
        padding-right: 5px;
    }
}