html, body {
    background-color: rgb(255, 254, 242);
    color: rgb(7, 54, 66);
    font-family: 'Source Serif Pro', serif;
    font-size: 25px;
    text-rendering: optimizeLegibility;
}

a {
    color: rgb(108, 113, 196);
    text-decoration: none;
}

a:hover {
    color: rgb(203, 75, 22);
    text-decoration: underline;
}

#body {
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 100px;
    line-height: 1.3;
}
@media (max-width: 800px) {
    #body {
        padding-top: 20px;
    }
}

#body p {
    margin-bottom: 20px;
    margin-top: 20px;
    word-wrap: break-word;
}
